/* You can add global styles to this file, and also import other style files */
@import "./assets/css/variable.scss";
@import "./assets/css/base.scss";
@import "./assets/css/brain.scss";
@import "./assets/css/responsive.scss";
@import "./assets/css/custom-bootstrap.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
